body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header {
  background-color: #579BB1;
padding: 1rem;
} */

/* header a {
color: #F8F4EA;
font-weight: bold;
text-decoration: none;
} */

.site-container{
  min-height: 100vh;
}

main {
  padding: 1rem;
  flex: 1;
}


.products {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.product {
border: 1px #579BB1 solid;
margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.btn.btn-primary{
  background-color: #FFC107;
}

.rating span{
color: #FFC107;
}

.large-img{
  min-width: 100%;
}